.segment {	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/* padding-bottom: 0 !important; */
	padding-top: 0 !important;
	max-height: 100%;
	padding-bottom: 0 !important;
	overflow: hidden;
}

.image {
	justify-self: center;
}

.imageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}